<html>

<body>

  <!-- 4. Install bootstrap and provide a simple class btn btn-success for a button and display it. -->
  <!-- 5. Provide multiple classes in ngClass and use them.  Demonstrate for a button.   -->

  <h1 class="text-center">Assignment 2</h1>


  <div class="common">
    <button [ngClass]="['btn btn-success']" (click)="buttonClick()">Button</button>
  </div>

  <!-- 6. Change the back ground color of a div on click of a button and toggle the color on click of antoher button. -->
  <div class="common" [ngClass]="(bColor == true)? 'colorPink': 'colorOrange'">
    <h1 class="text-center">Change background color</h1>
    <button [ngClass]="'btn btn-success m-2'" (click)="changeToPink()">
      Pink Color
    </button>
    <button [ngClass]="'btn btn-success m-2'" (click)="changeToOrange()">
      Orange Color
    </button>
  </div>


  <!-- 7. Change the color of the text dynamically using ngStyle.
 -->
  <div class="common">
    <h1 [ngClass]="'text-center'">Change text color</h1>
    Choose your fav color: <input type="text" [(ngModel)]="strColor">
    <br><br>
    <p [ngStyle]="{'color': strColor}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, ea!
    </p>
  </div>

  <!-- 8. Change the color and font-size of the text dynamically using ngStyle. -->

  <div class="common">
    <h1 [ngClass]="'text-center'">Change text color & size</h1>
    Choose your fav color: <input type="text" [(ngModel)]="strColor">
    <br><br>
    Choose your text size: <input type="text" [(ngModel)]="strFontSize">
    <br><br>
    <p [ngStyle]="{'color': strColor, 'font-size': strFontSize+'px'}">Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ullam, dicta.</p>
  </div>

  <!-- 12. Define array of objects having each record with uid and username as the fields and display them as list. -->


  <div class="common">
    <h1>Displaying array of objects</h1>
    <ul>
      <li *ngFor="let user of userList">
        {{user.uid}}&nbsp; {{user.name}} &nbsp; {{user.pwd}}
      </li>
    </ul>
  </div>

  <div class="common">
    <h1>Table showing array of object</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <th>User ID</th>
        <th>Username</th>
        <th>Password</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{user.uid}}</td>
          <td>{{user.name}}</td>
          <td>{{user.pwd}}</td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- 14.  Define array of objects for employee with fields EmpId, Name, dept, designation and Location.  Display this array of objects in a table with table header.  Try all the table styles and use the one which you ok with. -->
  <div class="common">
    <h1>Table showing employee data</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <th>EmpID</th>
        <th>EmpName</th>
        <th>Department</th>
        <th>Depsignation</th>
        <th>Location</th>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empList">
          <td>{{emp.eid}}</td>
          <td>{{emp.ename}}</td>
          <td>{{emp.dept}}</td>
          <td>{{emp.designation}}</td>
          <td>{{emp.location}}</td>
        </tr>
      </tbody>
    </table>
  </div>




  <!-- 10. Display Login form with text field userid and password.  If the user id is your name and password is admin then display the text in blue color as valid user and else display as invalid user in red color.
 -->
  <div class="common">
    <h1>{{logOreg}}</h1>
    <input type=text #emal placeholder="Username">
    <input type=password #pass placeholder="Password">
    <button (click)="verify(emal.value, pass.value)" class="btn btn-info">Submit</button>
    <br>
    <h3 [ngStyle]="{'color': msgColor}">{{message}}</h3>
  </div>


  <div class="common" id="log">
    <h1>{{logOreg}}</h1>
    {{userName}}: <input type=text #emal>
    <br><br>
    {{userPwd}}: &nbsp;<input type=password #pass>
    <br>
    <button (click)="verify(emal.value, pass.value)" class="btn btn-info">{{btnStatus}}</button>
    <br>
    Not a user?&nbsp;
    <a href="#log" (click)="regis()">{{linkMsg}}</a>

    <h3 [ngStyle]="{'color': msgColor}">{{message}}</h3>
  </div>


  <div class="common">
    <h1>Practice of if</h1>
    <button [ngClass]="'btn btn-success m-2'" (click)="goodMorning()">good morning</button>
    <button [ngClass]="'btn btn-success m-2'" (click)="goodEvening()">good evening</button>

    <div *ngIf="bMorning == true">
      <h2>good morning.....</h2>
    </div>
    <div *ngIf="bEvening == true">
      <h2>good evening.....</h2>
    </div>
  </div>

  <!-- <div class="common">
    <input type="text" [(ngModel)]='strData'>
    <div [ngSwitch]='strData'>
      <div *ngSwitchCase="1">One</div>
      <div *ngSwitchCase="2">two</div>
      <div *ngSwitchCase="3">three</div>
      <div *ngSwitchCase="4">four</div>
      <div *ngSwitchCase="5">five</div>
      <div *ngSwitchDefault>default</div>
    </div>
  </div> -->

</body>

</html>